<h1 class="mt-3 page_title"><mat-icon class="icons mr-3" color="primary">book</mat-icon>Update - <b>{{book.bookTitle}}</b></h1>
<mat-card class="mt-4">
    <mat-card-content>
        <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Title</mat-label>
                <input [(ngModel)]="book.bookTitle" required matInput placeholder="Enter book title here" type="text" name="bookTitle"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Author</mat-label>
                <input [(ngModel)]="book.bookAuthor" required matInput placeholder="Enter book author here" type="text" name="bookAuthor"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Price</mat-label>
                <input [(ngModel)]="book.bookPrice" required matInput placeholder="Enter book price here" type="text" name="bookPrice"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Publisher</mat-label>
                <input [(ngModel)]="book.bookPublisher" required matInput placeholder="Enter book publisher here" type="text" name="bookPublisher"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Edition</mat-label>
                <input [(ngModel)]="book.bookEdition" required matInput placeholder="Enter book edition here" type="text" name="bookEdition"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Pages</mat-label>
                <input [(ngModel)]="book.bookPages" required matInput placeholder="Enter No. of pages here" type="text" name="bookPages"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Binding</mat-label>
                <input [(ngModel)]="book.bookBinding" required matInput placeholder="Enter book binding here" type="text" name="bookBinding"
                 />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Description</mat-label>
                <textarea  name="bookDesc" matInput placeholder="Enter Book Description"
            [(ngModel)]="book.bookDesc"
            rows="10"
            ></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Categories</mat-label>
                <mat-select required name="category" [(ngModel)]="book.category.catId">
                  <mat-option *ngFor="let c of categories" [value]="c.catId">
                    {{c.catTitle}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Languages</mat-label>
                <mat-select required name="language" [(ngModel)]="book.language.langId">
                  <mat-option *ngFor="let l of languages" [value]="l.langId">
                    {{l.language}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field class="full-width" appearance="outline">
                <mat-label>Book Image</mat-label>
                <input [(ngModel)]="book.bookImg" matInput placeholder="Insert book image here" type="file" name="bookImg"
                 />
            </mat-form-field> -->
            <input type="file">
        <div class="container-fluid">
            <button type="submit" mat-raised-button color="primary">Update</button>
        </div>
    </form>
    </mat-card-content>
    </mat-card>
    <!-- {{languages|json}} -->
      