<mat-card class="mt-2">
    <mat-action-list>
        <button mat-list-item routerLink="/admin/language"><mat-icon class="icons" color="primary">language</mat-icon>Language</button>
    </mat-action-list>
    <mat-divider></mat-divider>
    <mat-action-list>
        <button mat-list-item routerLink="/admin/category"><mat-icon class="icons" color="primary">category</mat-icon>Category</button>
    </mat-action-list>
    <mat-divider></mat-divider>
    <mat-action-list>
        <button mat-list-item routerLink="/admin/category"><mat-icon class="icons" color="primary">book</mat-icon>Book</button>
    </mat-action-list>
</mat-card>